{% extends 'base.html.twig' %}

{% block title %}City{% endblock %}

{% block body %}
    <h1>City</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ city.name }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ city.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ city.longitude }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ city.country }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary col-6 mr-3" href="{{ path('city_edit', {id: city.id}) }}">Edit</a>
        <div class="col-6 px-0">
            {{ include('city/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
